body {
    background-image: url(resources/img/img4.jpg);
}

.box {
    position: relative;
    text-align: center;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: gray;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="text"], .box input[type="gender"] {
    border: 0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="gender"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="text"], .box input[type="pid"] {
    border: 0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="pid"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="text"], .box input[type="phoneNo"] {
    border: 0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="phoneNo"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #4f95d6;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: #070707;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: rgb(103, 208, 235);
}